In [1]:
import numpy as np
import pandas as pd

In [6]:
annual = pd.read_csv('/Users/Breee/Downloads/archive/Annual_Macroeconomic_Factors.csv')
annual

,Date,House_Price_Index,Stock_Price_Index,Consumer_Price_Index,Population,Unemployment_Rate,Real_GDP,Mortgage_Rate,Real_Disposable_Income
0,1975-01-01,61.0900,67.14653,65.30488,0.98599,8.46667,5648.462,9.04712,19908.0
1,1976-01-01,65.5250,79.96264,69.05653,0.95022,7.71667,5952.809,8.86585,20346.0
2,1977-01-01,73.4350,78.82540,73.54636,1.00577,7.06667,6228.076,8.84519,20780.0
3,1978-01-01,83.7450,78.84679,79.15866,1.05957,6.06667,6572.819,9.64173,21497.0
4,1979-01-01,95.1325,85.63207,88.06755,1.10358,5.83333,6780.924,11.20365,21672.0
5,1980-01-01,102.6675,100.00000,100.00000,0.95959,7.14167,6763.514,13.74212,21584.0
6,1981-01-01,107.2375,108.67516,110.33472,0.98142,7.60000,6935.153,16.64151,21891.0
7,1982-01-01,108.4600,101.20645,117.09981,0.95332,9.70833,6810.120,16.04365,22156.0
8,1983-01-01,116.2425,136.01719,120.86156,0.91438,9.61667,7122.290,13.23538,22714.0
9,1984-01-01,121.4575,135.71240,126.05926,0.86582,7.52500,7637.704,13.87769,24062.0
10,1985-01-01,127.6625,158.71280,130.52887,0.88613,7.19167,7956.170,12.43019,24565.0
11,1986-01-01,136.3750,199.68371,133.00637,0.92416,6.99167,8231.664,10.18731,25268.0
12,1987-01-01,145.2025,237.42219,137.88047,0.89383,6.19167,8516.418,10.21340,25597.0
13,1988-01-01,152.9875,220.11374,143.50288,0.90800,5.49167,8872.154,10.34173,26559.0
14,1989-01-01,161.0625,264.30178,150.42977,0.94441,5.26667,9197.997,10.31942,27080.0
15,1990-01-01,166.1125,269.31529,158.54990,1.12965,5.61667,9371.468,10.12942,27303.0
16,1991-01-01,169.2775,302.95430,165.26444,1.33626,6.81667,9361.322,9.24654,27138.0
17,1992-01-01,173.9925,336.25212,170.27000,1.38689,7.50833,9691.069,8.39019,27895.0
18,1993-01-01,178.0500,366.44763,175.29578,1.31868,6.90000,9957.746,7.31462,27990.0
19,1994-01-01,182.5750,373.12108,179.86652,1.22630,6.08333,10358.923,8.38077,28411.0
20,1995-01-01,188.1475,427.48935,184.91253,1.19079,5.60833,10636.979,7.93462,29011.0
21,1996-01-01,194.6375,525.89215,190.33269,1.16341,5.41667,11038.266,7.80615,29586.0
22,1997-01-01,201.1575,670.32761,194.78208,1.20396,4.95000,11529.157,7.59885,30304.0
23,1998-01-01,211.4625,807.92623,197.80564,1.16571,4.50833,12045.824,6.94264,31712.0
24,1999-01-01,221.8700,909.09200,202.13368,1.14834,4.21667,12623.361,7.44000,32409.0
25,2000-01-01,236.0700,944.83957,208.95945,1.11277,3.99167,13138.035,8.05346,33645.0
26,2001-01-01,253.7250,889.34864,214.86500,0.98974,4.73333,13263.417,6.96788,34216.0
27,2002-01-01,269.7950,775.06492,218.27283,0.92780,5.77500,13488.357,6.53731,34894.0
28,2003-01-01,286.6250,756.55529,223.22783,0.85948,5.99167,13865.519,5.82698,35474.0
29,2004-01-01,313.5125,918.38713,229.20417,0.92548,5.53333,14399.696,5.83923,36325.0
30,2005-01-01,349.0950,1020.49546,236.98048,0.92171,5.06667,14901.269,5.86673,36526.0
31,2006-01-01,374.1000,1160.50793,244.62534,0.96425,4.61667,15315.943,6.41327,37570.0
32,2007-01-01,378.2650,1339.63564,251.60370,0.95106,4.61667,15623.871,6.33731,38093.0
33,2008-01-01,358.8600,1116.25613,261.26302,0.94587,5.77500,15642.962,6.02717,38188.0
34,2009-01-01,338.9500,845.88835,260.33411,0.87665,9.26667,15236.262,5.03654,37814.0
35,2010-01-01,325.1200,1003.60888,264.60370,0.82962,9.61667,15648.991,4.68981,38282.0
36,2011-01-01,312.5900,1093.15185,272.95682,0.72679,8.95000,15891.534,4.44788,38769.0
37,2012-01-01,311.7750,1112.09310,278.60522,0.73360,8.06667,16253.970,3.65750,39732.0
38,2013-01-01,323.5275,1308.67047,282.68632,0.69286,7.37500,16553.348,3.97558,38947.0
39,2014-01-01,339.7575,1479.80352,287.27212,0.73336,6.16667,16932.051,4.16887,40118.0
40,2015-01-01,357.2575,1482.64229,287.61290,0.73622,5.29167,17390.295,3.85058,41383.0
41,2016-01-01,375.9925,1441.70856,291.24138,0.72468,4.86667,17680.274,3.65404,41821.0
42,2017-01-01,396.4700,1644.50885,297.44514,0.63264,4.35000,18079.084,3.98981,42699.0
43,2018-01-01,418.4625,1755.56476,304.71049,0.52644,3.90000,18606.787,4.54462,43886.0
44,2019-01-01,437.8000,1786.28450,310.23248,0.45538,3.66667,19032.672,3.93577,44644.0
45,2020-01-01,460.2675,1755.04531,314.05946,0.96120,8.09167,18384.687,3.11170,47241.0
46,2021-01-01,523.2600,2255.84370,328.81353,0.11838,5.36667,19427.287,2.95769,48219.0

In [7]:
type(annual)

pandas.core.frame.DataFrame

In [8]:
annual.shape

(47, 9)

In [9]:
annual.columns

Index(['Date', 'House_Price_Index', 'Stock_Price_Index',
       'Consumer_Price_Index', 'Population', 'Unemployment_Rate', 'Real_GDP',
       'Mortgage_Rate', 'Real_Disposable_Income'],
      dtype='object')

In [11]:
annual.describe()

,House_Price_Index,Stock_Price_Index,Consumer_Price_Index,Population,Unemployment_Rate,Real_GDP,Mortgage_Rate,Real_Disposable_Income
count,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000,47.000000
mean,240.145585,743.127265,198.587797,0.935152,6.310108,12140.355319,7.781053,32040.936170
std,120.405988,588.510811,75.577467,0.231639,1.623767,4243.074608,3.409098,8006.301392
min,61.090000,67.146530,65.304880,0.118380,3.666670,5648.462000,2.957690,19908.000000
25%,140.788750,209.898725,135.443420,0.862650,5.166670,8374.041000,4.863175,25432.500000
50%,211.462500,756.555290,197.805640,0.945870,5.991670,12045.824000,7.440000,31712.000000
75%,339.353750,1114.174615,262.933360,1.081575,7.441665,15645.976500,9.885575,38235.000000
max,523.260000,2255.843700,328.813530,1.386890,9.708330,19427.287000,16.641510,48219.000000

In [14]:
annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Date                    47 non-null     object
 1   House_Price_Index       47 non-null     float64
 2   Stock_Price_Index       47 non-null     float64
 3   Consumer_Price_Index    47 non-null     float64
 4   Population              47 non-null     float64
 5   Unemployment_Rate       47 non-null     float64
 6   Real_GDP                47 non-null     float64
 7   Mortgage_Rate           47 non-null     float64
 8   Real_Disposable_Income  47 non-null     float64
dtypes: float64(8), object(1)
memory usage: 3.4+ KB

In [17]:
date = pd.Series({'Unemployment_Rate':9.708330, 'Mortgage_Rate':16.641510,
                 'House_Price_Index': 523.260000})

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (383825317.py, line 1)

In [16]:
date

Unemployment_Rate      9.70833
Mortgage_Rate         16.64151
House_Price_Index    523.26000
dtype: float64